// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Variables
@import 'variables.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

nav {
    background-color: $navBarColor;
}

body {
    background-color: $backgroundColor;
}

.product-container {
    background-color: white;
}

.center-vertically {
    display:flex;
    align-items:center;
}
